.main {
    height: 100vh;
    background-color: black;
    position: relative;   
    display: flex;
}

h1 {
    transition: all 1.8s;
    opacity: 0;
    margin: 0;
    color: white;
    font-size: 200px;
    font-weight: 100;
}

h1 span {
    color: black;
}

.loaded h1 {
    opacity: 1;
}

.leftPart {
    flex: 1;
    padding: 40px 40px 0px 40px;
}